<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Brain Mining_TextToSpeech</title>

  {% load static %}
  <!--favicon -->
  <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
  <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">

  <!--font -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Gamja+Flower|Lora|PT+Serif|Playfair+Display">
  <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">

  <!-- Custom fonts for this template -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/all.min.css' %}">

  <!-- Plugin CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/magnific-popup.css' %}"> 

  <!-- Custom styles for this template -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/freelancer.min.css' %}"> 
  <link rel="stylesheet" type="text/css" href="{% static 'css/customizing.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/animate.css' %}"/>
 
  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script> 

  <!-- Plugin JavaScript -->
  <script src="{% static 'js/jquery.easing.min.js' %}"></script>
  <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script> 
  <!--
  <script src="{% static 'js/wavesurfer.min.js' %}"></script> 
  -->

  <!-- Custom scripts for this template -->
  <script src="{% static 'js/textToSpeech.js' %}"></script>
  <script src="{% static 'js/freelancer.js' %}"></script>
  <script src="{% static 'js/button.js' %}"></script>
  <script src="{% static 'js/audioStore.js' %}"></script>

   <!-- swal CDN -->
   <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>-->
  
   <!-- selectBox CDN -->
  <script src="{% static 'js/jquery.heapbox-0.9.3.min.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/pumpkin.css' %}"/>
</head>


<body id="page-top">
  
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Maratron</a>
      <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#soundwave">soundwave</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#audiostore">audiostore</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#texttovoice">texttovoice</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="masthead bg-primary text-white text-center">
    <div class="container">
      <img class="img-fluid hy d-block mx-auto" src="{% static 'img/logo.gif' %}" alt="">
      <h1 class="text-uppercase mb-0">Text To Speech</h1>
      <hr class="star-light">
    </div>
  </header>

  <!-- sound wave Section -->
  <section class="mb-0" id="soundwave">
    <div class="container">
      <h2 class="text-center text-uppercase">sound wave</h2>
      <hr class="star-dark mb-5">
      <div class="row">
      </div>  
    </div>
    <div class="container border heading wave" style="border-bottom-width:0px;">
      <h5><i class="headphone_icon fas fa-headphones-alt"></i> 안녕하세요. 저희는 마라트론입니다.</h5>
        <!--<h5><img src="{% static 'img/profile-picture.png' %}" width=4%> step-40000-audio.wav</h5>-->
    </div>
    <div class="container border hero wave">
      <div class="container">
        <div class="row">
          <div class="col-md-1 btn-wrapper">
            <button type="button" class="btn btn-xl btn-orange btn-circle toggler" id="btn-play" value="Play" onclick="Spectrum.playPause();">
              <i class="fa fa-play" id="icon"></i>
            </button>
          </div>
          <div class="col-md-10" id="audio-spectrum"></div>
          <div class="col-md-1" id="audio-time"></div>
        </div>
      </div>
      <br>
      <div class="container">
      </div>
    </div>
    <br>
    <div class="container border heading wave" style="border-bottom-width:0px;">
      <h5><i class="headphone_icon fas fa-headphones-alt"></i> Hello. We are Maratron. Because We like the Maratang.</h5>
        <!-- <h5><img src="{% static 'img/profile-picture.png' %}" width=4%> step-13000-audio.wav</h5>-->
    </div>
    <div class="container border hero wave">
      <div class="container">
        <div class="row">
          <div class="col-md-1 btn-wrapper">
            <button type="button" class="btn btn-xl btn-orange btn-circle toggler" id="btn-play2" value="Play" onclick="Spectrum2.playPause();">
              <i class="fa fa-play" id="icon2"></i>
            </button>
          </div>
          <div class="col-md-10" id="audio-spectrum2"></div>
          <div class="col-md-1" id="audio-time2"></div>
        </div>
      </div>
      <br>
      <div class="container">
      </div>
    </div>
  </section>
  <!-- AudioStore Section -->
  <section class="audiostore bg-primary text-white" id="audiostore">
    <div class="container">
      <h2 class="text-center text-uppercase text-white mb-0">audio store</h2>
      <hr class="star-light mb-5">
      <div class="row">
        <div class="col-md-6 col-lg-4">
          <a class="audiostore-item d-block mx-auto" href="#audiostore-modal-1">
            <div class="audiostore-item-caption d-flex position-absolute h-100 w-100">
              <div class="audiostore-item-caption-content my-auto w-100 text-center text-white">
                <i class="fas fa-search-plus fa-3x"></i>
              </div>
            </div>
            <div class="entry">
              <h3 class="engtext">There is no tomorrow</h3>
              <img class="img-fluid" src="{% static 'img/audiostore/img1.png' %}" alt="">
            </div>
          </a>
        </div>
        <div class="col-md-6 col-lg-4">
          <a class="audiostore-item d-block mx-auto" href="#audiostore-modal-2">
            <div class="audiostore-item-caption d-flex position-absolute h-100 w-100">
              <div class="audiostore-item-caption-content my-auto w-100 text-center text-white">
                <i class="fas fa-search-plus fa-3x"></i>
              </div>
            </div>
            <div class="entry">
              <h3 class="engtext">The happy secret to better work</h3>
            <img class="img-fluid" src="{% static 'img/audiostore/img2.png' %}" alt="">
            </div>
          </a>
        </div>
        <div class="col-md-6 col-lg-4">
          <a class="audiostore-item d-block mx-auto" href="#audiostore-modal-3">
            <div class="audiostore-item-caption d-flex position-absolute h-100 w-100">
              <div class="audiostore-item-caption-content my-auto w-100 text-center text-white">
                <i class="fas fa-search-plus fa-3x"></i>
              </div>
            </div>
            <div class="entry">
              <h3 class="engtext">Why does the universe exist?</h3>
            <img class="img-fluid" src="{% static 'img/audiostore/img3.png' %}" alt="">
            </div>
          </a>
        </div>
        <div class="col-md-6 col-lg-4">
          <a class="audiostore-item d-block mx-auto" href="#audiostore-modal-4">
            <div class="audiostore-item-caption d-flex position-absolute h-100 w-100">
              <div class="audiostore-item-caption-content my-auto w-100 text-center text-white">
                <i class="fas fa-search-plus fa-3x"></i>
              </div>
            </div>
            <div class="entry">
              <h3 class="kortext">무소유</h3>
            <img class="img-fluid" src="{% static 'img/audiostore/img4.png' %}" alt="">
            </div>
          </a>
        </div>
        <div class="col-md-6 col-lg-4">
          <a class="audiostore-item d-block mx-auto" href="#audiostore-modal-5">
            <div class="audiostore-item-caption d-flex position-absolute h-100 w-100">
              <div class="audiostore-item-caption-content my-auto w-100 text-center text-white">
                <i class="fas fa-search-plus fa-3x"></i>
              </div>
            </div>
            <div class="entry">
              <h3 class="kortext">이기적 유전자</h3>
            <img class="img-fluid" src="{% static 'img/audiostore/img5.png' %}" alt="">
            </div>
          </a>
        </div>
        <div class="col-md-6 col-lg-4">
          <a class="audiostore-item d-block mx-auto" href="#audiostore-modal-6">
            <div class="audiostore-item-caption d-flex position-absolute h-100 w-100">
              <div class="audiostore-item-caption-content my-auto w-100 text-center text-white">
                <i class="fas fa-search-plus fa-3x"></i>
              </div>
            </div>
            <div class="entry">
              <h3 class="kortext">호랑이와 곶감</h3>
            <img class="img-fluid" src="{% static 'img/audiostore/img6.png' %}" alt="">
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- TextToVoice Section -->
  <section class="audiostore" id="texttovoice">
    <div class="container">
      <h2 class="text-center text-uppercase text-secondary mb-0">Text To Voice</h2>
      <hr class="star-dark mb-5">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <form name="sentMessage" id="contactForm" novalidate="novalidate" method="post">
          {% csrf_token %}
            <div>
             <!-- choice voiceType by icon -->
              <div class="form-group floating-label-form-group controls mb-0 pb-2"> 
                <!--<div class="voice">
                  <input type="button" class="voiceChoice" id="male" name="gender" />
                  <input type="button" class="voiceChoice" id="female" name="gender"/> 
                </div> -->

                <!-- choice voiceType by dropdown -->
                <div class="voiceType">
                    <select class="voice">
                      <option value="">Voice Type</option>
                      <option value="en_female">English_Female</option>
                      <option value="en_male">English_Male</option>
                      <option value="ko_female">한국어_여성</option>
                    </select>
                  </div>

                {% comment %} <select class="voice" size="3">
                  <option value="en_female">Female</option>
                  <option value="en_male">Male</option>
                  <option value="ko_female">여성</option>
                </select> {% endcomment %}
            
                  <br>
                  <textarea class="form-control" name='text' id="text" rows="7" placeholder="Message" required="required" data-validation-required-message="Please enter a message."></textarea>
                  <p class="help-block text-danger"></p>
              </div>
            </div>
            <br>
            <div id="success"></div>
              <button type="button" class="btn btn-primary btn-xl" id="button" name="synthesize">Synthesize</button>
              <img id="loading_bg" src="{% static 'img/loading_bg.png' %}" hidden>            
            <div class="loading-group form-group" hidden>
              <img id="loading" src="{% static 'img/loading.gif' %}">
              <span id="loading_text">Synthesize...</span>
            </div>
              <audio id="audio" controls autoplay hidden>
              <!--<p id="message"></p>-->
              </audio>
          </form>
        </div>
      </div>
    </div>
  </section>


  <div class="copyright py-4 text-center text-white">
    <div class="container">
      <small><b>Copyright &copy; Maratron 2019 by BrainMining</b></small>
    </div>
  </div>

  <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
  <div class="scroll-to-top d-lg-none position-fixed ">
    <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
      <i class="fas fa-angle-up aa"></i>
    </a>
  </div> 

<!-- audiostore Modals -->

  <!-- audiostore Modal 1 -->
  <div class="audiostore-modal mfp-hide" id="audiostore-modal-1">
    <div class="audiostore-modal-dialog bg-white">
      <a class="close-button d-none d-md-block audiostore-modal-dismiss" href="#">
        <i class="fas fa-3x fa-times"></i>
      </a>
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-12 mx-auto">
            <div class="audioStore-content">
              <h1 class="content-title h1_eng"></h1>
              <h3 class="content-author"></h3>
              <div class="content-text poemtype"></div>
            </div>
          <div class="content-bottom">
            <audio id="content-audio" src="" pause="" controls autoplay hidden></audio>
            <br>
            <a class="btn btn-primary btn-lg rounded-pill audiostore-modal-dismiss" href="#">
            <i class="fa fa-close"></i>
            Close</a>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- audiostore Modal 2 -->
  <div class="audiostore-modal mfp-hide" id="audiostore-modal-2">
    <div class="audiostore-modal-dialog bg-white">
      <a class="close-button d-none d-md-block audiostore-modal-dismiss" href="#">
        <i class="fas fa-3x fa-times"></i>
      </a>
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-12 mx-auto">
            <div class="audioStore-content">
              <h1 class="content-title h1_eng"></h1>
              <h3 class="content-author"></h3>
              <div class="content-text"></div>
            </div>
          <div class="content-bottom">
            <audio id="content-audio" src="" pause="" controls autoplay hidden></audio>
            <br>
            <a class="btn btn-primary btn-lg rounded-pill audiostore-modal-dismiss" href="#">
            <i class="fa fa-close"></i>
            Close</a>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- audiostore Modal 3 -->
  <div class="audiostore-modal mfp-hide" id="audiostore-modal-3">
    <div class="audiostore-modal-dialog bg-white">
      <a class="close-button d-none d-md-block audiostore-modal-dismiss" href="#">
        <i class="fas fa-3x fa-times"></i>
      </a>
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-12 mx-auto">
            <div class="audioStore-content">
              <h1 class="content-title h1_eng"></h1>
              <h3 class="content-author"></h3>
              <div class="content-text"></div>
            </div>
          <div class="content-bottom">
            <audio id="content-audio" src="" pause="" controls autoplay hidden></audio>
            <br>
            <a class="btn btn-primary btn-lg rounded-pill audiostore-modal-dismiss" href="#">
            <i class="fa fa-close"></i>
            Close</a>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- audiostore Modal 4 -->
  <div class="audiostore-modal mfp-hide" id="audiostore-modal-4">
    <div class="audiostore-modal-dialog bg-white">
      <a class="close-button d-none d-md-block audiostore-modal-dismiss" href="#">
        <i class="fas fa-3x fa-times"></i>
      </a>
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-12 mx-auto">
            <div class="audioStore-content">
              <h1 class="content-title"></h1>
              <h3 class="content-author"></h3>
              <div class="content-text"></div>
            </div>
          <div class="content-bottom">
            <audio id="content-audio" src="" pause="" controls autoplay hidden></audio>
            <br>
            <a class="btn btn-primary btn-lg rounded-pill audiostore-modal-dismiss" href="#">
            <i class="fa fa-close"></i>
            Close</a>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- audiostore Modal 5 -->
  <div class="audiostore-modal mfp-hide" id="audiostore-modal-5">
    <div class="audiostore-modal-dialog bg-white">
      <a class="close-button d-none d-md-block audiostore-modal-dismiss" href="#">
        <i class="fas fa-3x fa-times"></i>
      </a>
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-12 mx-auto">
            <div class="audioStore-content">
              <h1 class="content-title"></h1>
              <h3 class="content-author"></h3>
              <div class="content-text"></div>
            </div>
          <div class="content-bottom">
            <audio id="content-audio" src="" pause="" controls autoplay hidden></audio>
            <br>
            <a class="btn btn-primary btn-lg rounded-pill audiostore-modal-dismiss" href="#">
            <i class="fa fa-close"></i>
            Close</a>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- audiostore Modal 6 -->
  <div class="audiostore-modal mfp-hide" id="audiostore-modal-6">
    <div class="audiostore-modal-dialog bg-white">
      <a class="close-button d-none d-md-block audiostore-modal-dismiss" href="#">
        <i class="fas fa-3x fa-times"></i>
      </a>
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-12 mx-auto">
            <div class="audioStore-content">
              <h1 class="content-title"></h1>
              <h3 class="content-author"></h3>
              <div class="content-text"></div>
            </div>
          <div class="content-bottom">
            <audio id="content-audio" src="" pause="" controls autoplay hidden></audio>
            <br>
            <a class="btn btn-primary btn-lg rounded-pill audiostore-modal-dismiss" href="#">
            <i class="fa fa-close"></i>
            Close</a>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
<script src="https://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.3.7/wavesurfer.min.js"></script>
<script src="{% static 'js/wave.js' %}"></script>
</body>
</html>
